@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary: #fe2c55;
    --white: #fff;
    --default-layout-width: 1150px;
    --default-layout-height: 60px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}

// fonts tiktok
// @font-face {
//     font-family: ProximaNova;
//     src: url('/src/assets/fonts/Proxima-Nova-Regular.woff2');
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/src/assets/fonts/Proxima-Nova-Regular.woff2');
// }

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
    color: rgba(22, 24, 35, 1);
}

// customer tippy  tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
    & .separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
