.wrapper {
    width: 356px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    margin-top: 60px;

    &:hover {
        transition: opacity 2s ease;
    }

    &:not(:hover)::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);
    }
}

.wrapper_login {
    padding: 20px 8px 24px;
    border-top: 1px solid #f4f4f4;
}

.title {
    font-size: 1.6rem;
    color: #16182380;
    line-height: 22px;
}

.login_btn {
    width: 324px;
    height: 48px;
    margin: 20px 0 0;
    padding: 6px 8px;
}
