.wrapper {
    width: 356px;
}

.wrapper_login {
    padding: 20px 8px 24px;
    border-top: 1px solid #f4f4f4;
}

.title {
    font-size: 1.6rem;
    color: #16182380;
    line-height: 22px;
}

.login_btn {
    width: 324px;
    height: 48px;
    margin: 20px 0 0;
    padding: 6px 8px;
}
