.modal_mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    z-index: 100000;
}

.modal_wrapper {
    position: relative;
    height: 80%;
    width: 483px;
    padding: 48px 0 0;
    background-color: #fff;
    border-radius: 8px;
}

.modal_close {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 24px;
    right: 24px;
    border: 1px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(22, 24, 35, 0.03);
    z-index: 1000;
    &:hover {
        cursor: pointer;
    }
}

.modal_container {
    position: relative;
    display: flex;
    height: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    overflow-y: auto;
}

.modal_inner {
    width: 375px;
    position: relative;
}

.modal_title {
    font-size: 3.2rem;
    margin: 16px 0;
    color: rgb(22, 24, 35);
    display: flex;
    justify-content: center;
}

.modal_items {
}

.modal_item {
    position: relative;
    margin: 0 0 16px;
}

.btn_login {
    width: 100%;
    height: 44px;
    padding: 0 12px;
}

.btn_more_register {
    display: flex;
    justify-content: center;
}

.icon_social {
    width: 20px;
    height: 20px;
    display: flex;
    transform: translateY(10px);
}

.btn_text {
    transform: translateY(-45%);
    display: flex;
    justify-content: center;
}

.modal_footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    font-size: 1.5rem;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
}

.container_footer {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: unset;
    position: fixed;
    bottom: 152px;
}

.link:hover {
    text-decoration: solid;
}

.text_footer {
    width: 375px;
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
    color: rgba(22, 24, 35, 0.5019607843);
    // padding: 18px 30px;
    background: #fff;
}

.login {
    margin-left: 5px;
    color: #fe2c55;
}
