.wrapper {
    padding: 9px 16px;
    display: flex;
    align-items: center;
    line-height: 22px;
    transition: background-color 200ms ease-in-out 0s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.info {
}

.name {
    font-size: 1.6rem;
}

.icon {
    color: rgb(32, 213, 236);
    margin-left: 6px;
    font-size: 1.4rem;
}

.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
