.wrapper {
    padding-top: 20px;
    border-top: 1px solid #f4f4f4;
    line-height: 1.8rem;
}

.title {
    width: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
    color: #161823;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px 6px 0 0;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.more,
.year {
    color: #161823;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px 0;
}

.more {
    cursor: pointer;
}

.info-body {
    margin: 8px 0;
}

.notifi {
    width: 200px;
    height: 100px;
    cursor: pointer;
    position: relative;
}

.text-notifi {
    position: absolute;
    font-size: 1.6rem;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 15px 16px 20px;

    &::after {
        content: '';
        position: absolute;
        top: 92px;
        left: 13px;
        border-width: 7px 9px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }

    &:hover {
        color: var(--primary);
    }
}
