.wrapper {
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.content {
    width: var(--default-layout-width);
    height: var(--default-layout-height);
    background: #ccc;
}
